<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationApp.Splash"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".activities.AppLaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Compass screen -->
        <activity android:name=".activities.CompassActivity" />

        <!-- Folder screen (resizes for keyboard) -->
        <activity
            android:name=".activities.FolderActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Brush Activity -->
        <activity android:name=".activities.BrushActivity" />

        <!-- Waypoint list screen -->
        <activity android:name=".activities.WaypointActivity" />

        <!-- Achievement activity -->
        <activity android:name=".activities.AchievementActivity" />

        <!-- Create Waypoint screen (resizes for keyboard) -->
        <activity
            android:name=".activities.CreateWaypointActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Map screen -->
        <activity android:name=".activities.MapActivity" />

        <!--    Portrait View    -->
        <activity
            android:name=".activities.PortraitCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/zxing_CaptureTheme" />


        <!-- Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAIitSjryLAnzqZOsEL7_YsgwF4c7nNKXc"/>
    </application>

</manifest>
